<footer style="text-align: center; margin-top: 10px;">
  <nav class="round">

      <%= link_to "About", about_path %> &nbsp;
      <%= link_to "Contact", contact_path %> &nbsp;
      <a href="http://news.railstutorial.org/">News</a> &nbsp;
      <a href="http://www.railstutorial.org/">Rails Tutorial</a>

  </nav>
</footer>