<header style="padding: 1em;">
  <nav class="round" style="float: right;">

      <%= link_to "Home", '#' %> &nbsp;
      <%= link_to "Help", '#' %> &nbsp;
      <%= link_to "Sign In", '#' %>

  </nav>
</header>