<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title> <!-- Rest of it is taken care of in application_helper.rb file-->
  <%= csrf_meta_tag %> <!-- Prevents cross-site request forgery -->
</head>
<body>
<!-- inserts the content of each pae into the layout. meaning using this layout ensures that  visiting the page
    /pages/home converts the contents of the file to HTML and inserts it in place of  the below stmt-->
<%= yield %>

</body>
</html>
